body {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #fcfcfc;
}

h1 {
    margin: 0;
}
/* --> Home section*/
.home-section {
    width: 100%;
    height: 100vh;
    background-color: #1C1C1C;
}

/* --> Guide section*/
.guide-section {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    background-color: #222222;
}

.guide-content-wrap {
    width: 1270px;
    height: auto;
    padding: 16px 16px;
}

#guide-banner {
    width: 100%;
    aspect-ratio: 2;
    border-radius: 12px;
    object-fit: cover;
}

#s-paragraph {
    max-width: 950px;
    text-align: justify;
}

#guide-s-img {
    width: 260px;
    height: 220px;
    object-fit: cover;
    object-position: center right;
    border-radius: 10px;
    float: right;
    margin-left: 32px;
}


/* --> Locations section*/
.locations-section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    background-color: #1C1C1C;
    justify-content: center;
    align-items: center;
}

.locations{
    width: 1680px;
    height: 662px;
    margin: 0;
}

.locations-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.locations-items figure img {
    width: 1106px;
    height: 622px;
    object-fit: cover;
    object-position: 50% 30%;
    border-radius: 12px;
}

.locations figcaption {
    margin-top: 16px;
}

.locations-items figcaption img{
    width: auto;
    height: auto;
    object-fit: contain;
    vertical-align: bottom;
}

.locations-content p {
    width: 528px;
}

.locations-content h1 {
    font-size: 4rem;
}

#location-pagination {
    width: 1670px;
    margin-bottom: -8px;
    text-align: end;
    font-family: monospace;
    font-size: 1rem;
}

.swiper-custom-nav {
    margin-left: 50px;
}

.swiper-custom-nav svg {
    padding: 24px 0;
}

.swiper-custom-nav svg:hover{
    opacity: 0.5;
    cursor: pointer;
} 

/* Telescopes section*/

.telescopes-section {
    background-color: #222222;
    padding: 36px 0;
}

.telescopes-section h1 {
    margin: 32px 0;
    text-align: center;
}

.telescopes-section .slider-container {
    max-width: 1480px;
    margin: auto;
    position: relative;
}

.telescopes {
    width: 1132px;
    height: 568px;
    border-radius: 36px;
}

.telescopes .cards {
    background-color: #8d3c3c;
    border-radius: 36px;
}

.telescopes-section .swiper-custom-nav {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    min-width: 100%;
    z-index: 10;
}

#telescopes-prev {
    float: left;
}

#telescopes-next {
    float: right;
}